<div class="row justify-content-center">
  <div class="col-11 g-2">
    <div class="card">
      <div class="card-header">
        <h2>Details</h2>
      </div>
      <div class="card">
        <!--<div class="row">
            <google-map height="400px"
                        width="750px"
                        [center]="center"
                        [zoom]="zoom">
              <map-bicycling-layer></map-bicycling-layer>
              <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
                                      [directions]="directionsResults"></map-directions-renderer>
            </google-map>
        </div>-->
        <div class="row">
          <div class="accordion" id="detailAccordion">
            <app-travelers [items]="guests"></app-travelers>
            <app-itinerary></app-itinerary>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


