<div class="offcanvas offcanvas-end" tabindex="-1" id="sideBar" aria-labelledby="sideBarLabel">
  <div class="offcanvas-header border-bottom border-secondary">
    <h4 class="offcanvas-title" id="sideBarLabel">{{ "journey.entity" | translate }}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #close></button>
  </div>
  <div class="offcanvas-body ">
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">{{ "journey.sidebar.name" | translate }}</label>
          <input type="text" class="form-control" id="name" required formControlName="name" name="name" [ngClass]="getValidationClass(form.get('name'))">
          <div class="valid-feedback" style="display: block;" *ngIf="form.get('name')?.touched && form.get('name')?.valid">
            {{ "generics.validations.validfield" | translate }}
          </div>
          <div class="invalid-feedback" style="display: block;" *ngIf="form.get('name')?.touched && form.get('name')?.errors?.['required']">
            {{ "generics.validations.fieldrequired" | translate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="startDate" class="form-label">{{ "journey.sidebar.startdate" | translate }}</label>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="startDateCheck" [(ngModel)]="isStartDateDefined" [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" for="startDateCheck">{{ "journey.sidebar.startdatedefined" | translate }}</label>
          </div>
          <input type="date" class="form-control" id="startDate" formControlName="startDate" name="startDate" [ngClass]="getValidationClass(form.get('startDate'))" [disableControl]="!isStartDateDefined">
          <div class="valid-feedback" style="display: block;" *ngIf="form.get('startDate')?.touched && form.get('startDate')?.value && form.get('startDate')?.valid">
            {{ "generics.validations.validfield" | translate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="endDate" class="form-label">{{ "journey.sidebar.enddate" | translate }}</label>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="startDateCheck" [(ngModel)]="isEndDateDefined" [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" for="startDateCheck">{{ "journey.sidebar.enddatedefined" | translate }}</label>
          </div>
          <input type="date" class="form-control" id="endDate" formControlName="endDate" name="endDate" [ngClass]="getValidationClass(form.get('endDate'))" [disableControl]="!isEndDateDefined">
          <div class="valid-feedback" style="display: block;" *ngIf="form.get('endDate')?.touched && form.get('endDate')?.value && form.get('endDate')?.valid">
            {{ "generics.validations.validfield" | translate }}
          </div>
        </div>
        <div class="mb-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="startDateCheck" [(ngModel)]="iamTravelingAlone" [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" for="startDateCheck">{{ "journey.sidebar.travelginalone" | translate }}</label>
          </div>
          <ng-container *ngIf="!iamTravelingAlone">
            <h5 class="offcanvas-title" id="sideBarLabel">{{ "journey.sidebar.travelers" | translate }}</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" [width]="50"> {{ "journey.sidebar.travelersgrid.sel" | translate }}</th>
                  <th scope="col">{{ "journey.sidebar.travelersgrid.name" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let guest of guests">
                  <th scope="row" [width]="50">
                    <input type="checkbox" (ngModelChange)="guestGridTouched = true"
                      [ngClass]="{'invalid-checkbox': guestGridTouched && hasInvalidTravelers()}" [(ngModel)]="guest.isSelected" [ngModelOptions]="{standalone: true}">
                  </th>
                  <td>{{guest.lastName}}, {{guest.firstName}}</td>
                </tr>
              </tbody>
            </table>
            <div class="invalid-feedback" [ngStyle]="{ 'display': guestGridTouched && hasInvalidTravelers() ? 'block' : '' }">
              {{ "journey.sidebar.validations.travelers" | translate }}
            </div>
          </ng-container>
        </div>
        <div class="text-end">
          <button type="button" class="btn btn-secondary me-2" (click)="closeSlider()">{{ "generics.buttons.close" | translate }}</button>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid || hasInvalidTravelers()">{{ "generics.buttons.save" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>


