<div class="offcanvas offcanvas-end" tabindex="-1" id="sideBar" aria-labelledby="sideBarLabel">
  <div class="offcanvas-header border-bottom border-secondary">
    <h4 class="offcanvas-title" id="sideBarLabel">{{ "guest.entity" | translate }}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #close></button>
  </div>
  <div class="offcanvas-body ">
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="firstName" class="form-label">{{ "guest.sidebar.firstname" | translate }}</label>
          <input type="text" class="form-control" id="firstName" required formControlName="firstName" name="firstName" [ngClass]="getValidationClass(form.get('firstName'))">
          <div class="valid-feedback" style="display: block;" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.valid">
            {{ "generics.validations.validfield" | translate }}
          </div>
          <div class="invalid-feedback" style="display: block;" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.errors?.['required']">
            {{ "generics.validations.fieldrequired" | translate }}
          </div>
          <div class="invalid-feedback" style="display: block;" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.errors?.['incorrect']">
            {{form.get('firstName')?.errors?.['message']}}
          </div>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">{{ "guest.sidebar.lastname" | translate }}</label>
          <input type="url" class="form-control" id="lastName" required formControlName="lastName" name="lastName" [ngClass]="getValidationClass(form.get('lastName'))">
          <div class="valid-feedback" style="display: block;" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.valid">
            {{ "generics.validations.validfield" | translate }}
          </div>
          <div class="invalid-feedback" style="display: block;" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.errors?.['required']">
            {{ "generics.validations.fieldrequired" | translate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="passport" class="form-label">{{ "guest.sidebar.passport" | translate }}</label>
          <input type="url" class="form-control" id="passport" formControlName="passport" name="passport" [ngClass]="getValidationClass(form.get('passport'))">
          <div class="valid-feedback" style="display: block;" *ngIf="form.get('passport')?.touched && form.get('passport')?.value && form.get('passport')?.valid">
            {{ "generics.validations.validfield" | translate }}
          </div>
          <div class="invalid-feedback" style="display: block;" *ngIf="form.get('passport')?.touched && form.get('passport')?.errors?.['incorrect']">
            {{form.get('passport')?.errors?.['message']}}
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">{{ "guest.sidebar.email" | translate }}</label>
          <input type="email" class="form-control" id="email" formControlName="email" name="email" [ngClass]="getValidationClass(form.get('email'))">
          <div class="valid-feedback" style="display: block;" *ngIf="form.get('email')?.touched && form.get('email')?.value && form.get('email')?.valid">
            {{ "generics.validations.validfield" | translate }}
          </div>
          <div class="invalid-feedback" style="display: block;" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
            {{ "generics.validations.fieldrequired" | translate }}
          </div>
          <div class="invalid-feedback" style="display: block;" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['pattern']">
            Invalid format for an email
          </div>
        </div>
        <div class="mb-3">
          <label for="celPhone" class="form-label">{{ "guest.sidebar.celphone" | translate }}</label>
          <input type="text" class="form-control" id="celPhone" formControlName="celPhone" name="celPhone" [ngClass]="getValidationClass(form.get('celPhone'))">
          <div class="valid-feedback" style="display: block;" *ngIf="form.get('celPhone')?.touched && form.get('celPhone')?.value && form.get('celPhone')?.valid">
            {{ "generics.validations.validfield" | translate }}
          </div>
        </div>
        <div class="text-end">
          <button type="button" class="btn btn-secondary me-2" (click)="closeSlider()">{{ "generics.buttons.close" | translate }}</button>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">{{ "generics.buttons.save" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

